.h5p-true-false-answer {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  align-content: center;
  outline: none;
  padding: var(--h5p-theme-spacing-xs);
  background: var(--h5p-theme-alternative-base);
  border-radius: var(--h5p-theme-border-radius-medium);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: left;
  line-height: normal;
  font-weight: 600;
  color: var(--h5p-theme-text-secondary);
  margin-right: var(--h5p-theme-spacing-xxs);
  font-size: var(--h5p-theme-font-size-m);
}
.aria-label {
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
  position: absolute;
}
.h5p-true-false-answer:hover {
  background: var(--h5p-theme-alternative-dark);
  border-color: var(--h5p-theme-alternative-dark);
}
.h5p-true-false-answer:focus-visible {
  box-shadow: 0 0 var(--h5p-theme-spacing-xxs) 0 var(--h5p-theme-main-cta-base);
  border-color: var(--h5p-theme-main-cta-base);
}
.h5p-true-false-answer:focus{
  outline: 4px ridge var(--h5p-theme-main-cta-base);
  border-radius: 4px;
}
.h5p-true-false-answer:before {
  content: "\e90e";
  font-family: h5p-theme;
  border: medium none;
  display: inline;
  text-decoration: none;
  color: var(--h5p-theme-text-primary);
  font-size: var(--h5p-theme-font-size-xl);
  margin-right: var(--h5p-theme-spacing-xxs);
}
.h5p-true-false-answer[aria-checked=true] {
  background-color: var(--h5p-theme-alternative-dark);
  color: var(--h5p-theme-text-primary);
  border-color: var(--h5p-theme-main-cta-base);
}
.h5p-true-false-answer[aria-checked=true]:after {}
.h5p-true-false-answer[aria-checked=true]::before {
  content: '\e90d';
}
.h5p-true-false-answer:after {
  text-align: center;
  padding-left: var(--h5p-theme-spacing-xs);
}
.h5p-true-false-answer:active {
  border-color: #8cb9f0;
  transform: scale(0.95);
}
.h5p-true-false-answer.correct {
  color: var(--h5p-theme-feedback-correct-main);
  background-color: var(--h5p-theme-feedback-correct-secondary);
  border: 1px solid var(--h5p-theme-feedback-correct-third);
  box-shadow: none;
}
.h5p-true-false-answer.correct:after {
  content: "\e903";
  font-family: 'h5p-theme';
  color: var(--h5p-theme-feedback-correct-main);
  background-color: var(--h5p-theme-feedback-correct-secondary);
}
.h5p-true-false-answer.wrong {
  color: var(--h5p-theme-feedback-incorrect-main);
  background-color: var(--h5p-theme-feedback-incorrect-secondary);
  border: 1px solid var(--h5p-theme-feedback-incorrect-third);
  box-shadow: none;
}
.h5p-true-false-answer.wrong:after {
  font-family: 'h5p-theme';
  content: '\e902';
  color: var(--h5p-theme-feedback-incorrect-main);
  background-color: var(--h5p-theme-feedback-incorrect-secondary);
  box-shadow: none;
}
.h5p-true-false-answer[aria-disabled=true] {
  box-shadow: none;
  pointer-events: none;
}
/* When  */
.h5p-transparent > div > .h5p-question.h5p-true-false > * {
  margin-left: 3px;
}